
/* everything */

body{
  background-color: lightblue;
}


/* about me */

.aboutme {
  margin: 50px;
}


/* image */

.imgwrpr {
  display: flex;
  align-items: center;
  justify-items: center;
}
#pfp {
  max-width: 50%;
  max-height: 50%;
}


/* nav stuff */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .navbarli {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }


/* Schedule table */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:nth-child(odd) {
    background-color: white;
  }

  /* schedule tables images */
    
    tr img {
        display: none; 
        
      }

    tr:hover img {  
      display: block;
      height :30px;
      width : 30px;
    }


  #big-images {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #big {
    margin: auto;
    max-width: 50%;
    width: 600px;
    max-height: 50%;
    height: 500px;
  }


/* Form */

.wrapper {
  display: flex;
}


/* submit button */
input[type=submit] {
  width: 200px;
  background-color: #09f;
  color: white;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=text], select {
  box-sizing: border-box;
  width: 250px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

label{
  display: inline-block;
  text-align: left;
  
}



form{
  width: 50%;
  box-sizing: border-box;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  background-color: white;
}
/* 
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} */

